server:
  port: 8081
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/memberdb2?characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: tmdhkzh77!
    hikari:
      minimum-idle: 20
      maximum-pool-size: 50
      connection-timeout: 10000
      validation-timeout: 5000
      max-lifetime: 1800000
      idle-timeout: 600000
      leak-detection-threshold: 30000
      auto-commit: false
      connection-test-query: SELECT 1

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: never

  jpa:
    hibernate.ddl-auto: update
    properties.hibernate.format_sql: true
    properties.hibernate.default_batch_fetch_size: 100
    open-in-view: false

  data:
    redis:
      username: root
      host: localhost
      port: 6379
      password: tmdhkzh77!
      lettuce.pool.min-idle: 1
      lettuce.pool.max-idle: 8
      lettuce.pool.max-active: 8
      connect-timeout: 5000ms
      timeout: 3000ms
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 10MB

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
    org.springframework.security: debug
jwt:
  secret: VlwEyVBsYt9V7zq57TejM223nVUyzb112lYcfPQye08f7MGVA9XkHa

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  metrics:
    distribution:
      percentiles-histogram:
        api.posts.trade: false
        api.posts.trade.db: false
        api.posts.trade.rebuild: false
        redis.lrange.trade: true
        redis.mget.trade: true
        db.query.trade.list: true
        cache.rebuild.lock.wait: true

      percentiles:
        api.posts.trade: 0.5,0.95,0.99
        api.posts.trade.rebuild: 0.5,0.95,0.99
        api.posts.trade.db: 0.5,0.95,0.99

      minimum-expected-value:
        "api.posts.trade": 1ms
      maximum-expected-value:
        "api.posts.trade": 5s


resilience4j:
  circuitbreaker:
    instances:
      redisLock:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        minimumNumberOfCalls: 5
        failureRateThreshold: 60
        waitDurationInOpenState: 5s
